{
    "INCOME": [

    ],
    "SPENDING": [
        
    ],
	"INVESTING": [
 
    ],
    "CREDIT_PAYMENTS": [

    ],
    "TRANSFER": [

    ],
    "LOAN_PAYMENTS": [

    ],
    "HEALTH": [

    ],
	"GIFTS": [

    ],
	"OTHER": [

    ]
}